@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navigation
@inject TokenProvider tokenProvider

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage/Index">
            @context.User.Identity.Name
            </a>
        <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
            <button class="nav-link btn btn-link" style="color:white" type="submit">Logout</button>
            <input name="__RequestVerificationToken" type="hidden"
                value="@tokenProvider.XsrfToken" />
            </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>