/* _content/Elfind/Areas/Identity/Pages/Account/Login.cshtml.rz.scp.css */
/*ne vidi ga*/
.background-image[b-8k43oy0vpw] {
    display: flex;
    justify-content: space-between;
    background-image: url('/other/cool-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
}

.custom-btn[b-8k43oy0vpw] {
    background-color: lightpink;
    color: #000000; 
    border: 2px solid #fc9fad; 
}

.coll-gif[b-8k43oy0vpw]{
    /*text-align:center;*/
}

.outer-container[b-8k43oy0vpw] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gif-size[b-8k43oy0vpw]{

}

namespace Elfind.Areas.Identity.Pages.Account[b-8k43oy0vpw]
{
    public class Login
    {
    }
}
/* _content/Elfind/Areas/Identity/Pages/Account/Register.cshtml.rz.scp.css */
.background-image[b-rzvtlbybxz] {
    display: flex;
    justify-content: space-between;
    background-image: url('/other/cool-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
}




namespace Elfind.Areas.Identity.Pages.Account[b-rzvtlbybxz]
{
    public class Register
    {
    }
}
/* _content/Elfind/Pages/Administracija.razor.rz.scp.css */
.custom-button[b-z3roq4gc36] {
    background-color: #ffb6c1;
    width: 200px;
    height: 50px;
    color: #000000;
    border: 2px solid #fc9fad;
    margin: 15px;
}

.custom-btn[b-z3roq4gc36] {
    background-color: #ffb6c1;
    width: 200px;
    height: 40px;
    color: #000000;
    border: 2px solid #fc9fad;
    margin: 15px;
}

.table-responsive-md[b-z3roq4gc36] {
    border: 2px solid #fc9fad;
    padding: 20px;
    border-radius: 5px;
}

.invalid-textbox[b-z3roq4gc36] {
    border: 1px solid red;
    background-color: #FFC0CB; /* Crvena pozadina */
}

.error-message[b-z3roq4gc36] {
    color: red;
    font-weight: bold;
    display: @(nevalidnoKImeN ? "block" : "none"); /* Prikazuje se samo kada je flag true */
}

namespace Elfind.Pages[b-z3roq4gc36] {
    public class Administracija

{
}

}

.thAdm[b-z3roq4gc36], .trAdm[b-z3roq4gc36] {
    padding 15px !important;
    width: 165px !important;
}
/* _content/Elfind/Shared/MainLayout.razor.rz.scp.css */
.page[b-ki87sz4i9n] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ki87sz4i9n] {
    flex: 1;
}

.sidebar[b-ki87sz4i9n] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.sidebar2[b-ki87sz4i9n] {
    width: fit-content;
    height: fit-content;
}


.zajednicki[b-ki87sz4i9n] {
    display: flex;
    justify-content: space-between;
    background-image: url('/other/cool-background.png');
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    overflow-y: scroll;
}


.logic[b-ki87sz4i9n] {
    padding-left: 10px;
}

.login[b-ki87sz4i9n] {
    margin-left: 10px;
}

.top-row[b-ki87sz4i9n] {
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ki87sz4i9n]  a, .top-row .btn-link[b-ki87sz4i9n] {
        white-space: nowrap;
    }

    .top-row a:first-child[b-ki87sz4i9n] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ki87sz4i9n] {
        display: none;
    }

    .top-row.auth[b-ki87sz4i9n] {
        justify-content: space-between;
    }

    .top-row a[b-ki87sz4i9n], .top-row .btn-link[b-ki87sz4i9n] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ki87sz4i9n] {
        flex-direction: row;
    }

    .sidebar[b-ki87sz4i9n] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ki87sz4i9n] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ki87sz4i9n], article[b-ki87sz4i9n] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.profil[b-ki87sz4i9n] {
    padding: 5px;
}

.goreDesno[b-ki87sz4i9n] {
    display: flex;
}

.custom-btn[b-ki87sz4i9n] {
    background-color: lightpink; 
    color: #000000; 
    border: 2px solid #fc9fad; 
}

.logout-button[b-ki87sz4i9n] {
    color: white;
}

.ikrNoti_Button[b-ki87sz4i9n] {
    width: 22px;
    height: 22px;
    line-height: 22px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #2e467c;
    margin: -3px 10px 0 10px;
    cursor: pointer
}

.zvonce[b-ki87sz4i9n] {
    transform: translate(-280%, 0%);
}

.ikrNoti_Counter[b-ki87sz4i9n] {
    display: block;
    width: 20px;
    position: absolute;
    background: #e1141e;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    padding: 1px 3px;
    margin: -8px 0 0 25px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    z-index: 1;
    transform: translate(-350%, -10%);
}



.ikrNotifications[b-ki87sz4i9n] {
    display: none;
    width: 300px;
    position: absolute;
    top: 94px;
    left: 282px;
    transform: translate(200%, -10%);
    background: #fff;
    border: solid 1px rgba(100,100,100,.2);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.2);
    z-index: 1000
}



    .ikrNotifications[b-ki87sz4i9n]:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid #ccc;
        border-color: transparent transparent #fff;
        margin-top: -20px;
        margin-left: 10px
    }



    .ikrNotifications h3[b-ki87sz4i9n] {
        display: block;
        color: #333;
        background: #fff;
        font-weight: 700;
        padding: 8px;
        margin: 0;
        font-size: 12px;
        border-bottom: solid 1px rgba(100,100,100,.3);
    }



    .ikrNotifications .ikrSeeAll[b-ki87sz4i9n] {
        background: #f6f7f8;
        padding: 8px;
        font-size: 12px;
        font-weight: 700;
        border-top: solid 1px rgba(100,100,100,.3);
        text-align: center
    }



        .ikrNotifications .ikrSeeAll a[b-ki87sz4i9n] {
            color: #3b5998
        }



            .ikrNotifications .ikrSeeAll a:hover[b-ki87sz4i9n] {
                background: #f6f7f8;
                color: #3b5998;
                text-decoration: underline
            }



.ikrNotificationItems[b-ki87sz4i9n] {
    height: 300px;
    overflow-y: scroll;
    background-color: #f0f8ff
}



.ikrSingleNotiDiv[b-ki87sz4i9n] {
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
    cursor: pointer;
    color: #000
}



.ikrSingleNotiDivUnReadColor[b-ki87sz4i9n] {
    color: #c00
}



.ikrNotificationTitle[b-ki87sz4i9n] {
    font-weight: 700;
    margin-left: 10px
}



.ikrNotificationBody[b-ki87sz4i9n] {
    margin: 0 10px 0 10px
}



.ikrNotiCreatedDate[b-ki87sz4i9n] {
    text-align: right;
    margin-right: 10px;
}



.ikrNotiFromPropName[b-ki87sz4i9n] {
    margin-left: 4px;
}



[b-ki87sz4i9n]::-webkit-scrollbar {
    width: 2px
}



[b-ki87sz4i9n]::-webkit-scrollbar-track {
    background: #f1f1f1
}



[b-ki87sz4i9n]::-webkit-scrollbar-thumb {
    background: #888
}



    [b-ki87sz4i9n]::-webkit-scrollbar-thumb:hover {
        background: #555
    }
/* _content/Elfind/Shared/NavMenu.razor.rz.scp.css */

.row3[b-761ltm08kf]{
    align-self:end;
}
.navbar-toggler[b-761ltm08kf] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-761ltm08kf] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-761ltm08kf] {
    font-size: 1.1rem;
}

.oi[b-761ltm08kf] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-761ltm08kf] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-761ltm08kf] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-761ltm08kf] {
        padding-bottom: 1rem;
    }

    .nav-item[b-761ltm08kf]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-761ltm08kf]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-761ltm08kf]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-761ltm08kf] {
        display: none;
    }

    .collapse[b-761ltm08kf] {
        /* Never collapse the sidebar for wide screens */
        display: block !important;
    }

    .nav-scrollable[b-761ltm08kf] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


.nav-scrollable[b-761ltm08kf] {
    display:flex;
    flex-direction:column;
}

.icon[b-761ltm08kf]{
    margin:5px;
}
/* _content/Elfind/Shared/RightSidebar.razor.rz.scp.css */
/*ne vidi ovo iz nekog razloga nzm*/

.sidebar2[b-jpxquko7r7] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
    height: fit-content;
}
