.custom-button[b-z3roq4gc36] {
    background-color: #ffb6c1;
    width: 200px;
    height: 50px;
    color: #000000;
    border: 2px solid #fc9fad;
    margin: 15px;
}

.custom-btn[b-z3roq4gc36] {
    background-color: #ffb6c1;
    width: 200px;
    height: 40px;
    color: #000000;
    border: 2px solid #fc9fad;
    margin: 15px;
}

.table-responsive-md[b-z3roq4gc36] {
    border: 2px solid #fc9fad;
    padding: 20px;
    border-radius: 5px;
}

.invalid-textbox[b-z3roq4gc36] {
    border: 1px solid red;
    background-color: #FFC0CB; /* Crvena pozadina */
}

.error-message[b-z3roq4gc36] {
    color: red;
    font-weight: bold;
    display: @(nevalidnoKImeN ? "block" : "none"); /* Prikazuje se samo kada je flag true */
}

namespace Elfind.Pages[b-z3roq4gc36] {
    public class Administracija

{
}

}

.thAdm[b-z3roq4gc36], .trAdm[b-z3roq4gc36] {
    padding 15px !important;
    width: 165px !important;
}
