.page[b-ki87sz4i9n] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ki87sz4i9n] {
    flex: 1;
}

.sidebar[b-ki87sz4i9n] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


.zajednicki[b-ki87sz4i9n] {
    display: flex;
    justify-content: space-between;
    background-image: url('cool-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logic[b-ki87sz4i9n]{
    padding-left:10px;
}
.login[b-ki87sz4i9n] {
    margin-left:10px;
}

.top-row[b-ki87sz4i9n] {
    /*background-color: #08143c;*/
    background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    /*background-color: rgb(5, 39, 103);*/ /*#f7f7f7*/
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ki87sz4i9n]  a, .top-row .btn-link[b-ki87sz4i9n] {
        white-space: nowrap;
        /*margin-left: 1.5rem;*/
    }

    .top-row a:first-child[b-ki87sz4i9n] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ki87sz4i9n] {
        display: none;
    }

    .top-row.auth[b-ki87sz4i9n] {
        justify-content: space-between;
    }

    .top-row a[b-ki87sz4i9n], .top-row .btn-link[b-ki87sz4i9n] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ki87sz4i9n] {
        flex-direction: row;
    }

    .sidebar[b-ki87sz4i9n] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ki87sz4i9n] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ki87sz4i9n], article[b-ki87sz4i9n] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.profil[b-ki87sz4i9n]{
    padding:5px;
}

.goreDesno[b-ki87sz4i9n]{
    display:flex;
}

.custom-btn[b-ki87sz4i9n] {
    background-color: lightpink; /* Prilagodite boju pozadine */
    color: #000000; /* Prilagodite boju teksta */
    border: 2px solid #fc9fad; /* Prilagodite boju bordera i debljinu */
    /* Dodajte ostale stilove po potrebi */
}