/*ne vidi ga*/
.background-image[b-8k43oy0vpw] {
    display: flex;
    justify-content: space-between;
    background-image: url('/other/cool-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
}

.custom-btn[b-8k43oy0vpw] {
    background-color: lightpink;
    color: #000000; 
    border: 2px solid #fc9fad; 
}

.coll-gif[b-8k43oy0vpw]{
    /*text-align:center;*/
}

.outer-container[b-8k43oy0vpw] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gif-size[b-8k43oy0vpw]{

}

namespace Elfind.Areas.Identity.Pages.Account[b-8k43oy0vpw]
{
    public class Login
    {
    }
}
