@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracija";
}

<div class="custom-background">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            color: white;
        }
    </style>

    <div class="container">
        <div class="coll-md-4 col-xs-12 align-self-center text-center">
            <img src="/other/logoGIFTransparent.gif" class="img-fluid" alt="Animated GIF" width="500" height="250" />
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="container text-center">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <section>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <p style="font:90">Napravite novi nalog koristeći vaš elfak mail.</p>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" style="color:black">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" data-val="true" data-val-regex="Šifra nije u ispravnom formatu." data-val-regex-pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^\da-zA-Z]).{6,}" />
                            <label asp-for="Input.Password" style="color:black">Password</label>

                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword" style="color:black">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg" style="background-color: lightpink; color: #000000; border: 2px solid #fc9fad;" @*class="w-100 btn btn-lg btn-primary"*@>Registruj se</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}