<<<<<<< HEAD
﻿<h3>Obavestenje</h3>

=======
﻿@if (notClicked)
{
    <h4>Novo obavestenje</h4>
}
else
{
    <h4>Obavestenje</h4> 
}
>>>>>>> cd61e18c61a4bebe0a5f4a7f0fbabb9457c7484f
<div class="obavestenje">
    @if (!showQuestionText)
    {
        <div class="tekstObavestenja">
            <label for="text-input">Unesite obavestenje:</label>
            <input type="text" id="text-input" @bind="@text" />
            <button @onclick="SetText">Ok</button>
        </div>
    }
    else
    {
        <div class="tekstObavestenja">
            <p>@text</p>
        </div>
    }

    <div>
<<<<<<< HEAD
        <button @onclick="ShowQuestionText">Done</button>
=======
        @if (notClicked)
        {
            <button @onclick="ShowQuestionText">Done</button>
        }
>>>>>>> cd61e18c61a4bebe0a5f4a7f0fbabb9457c7484f
    </div>
</div>

@code {
    private string text;
    private bool showQuestionText = false;
<<<<<<< HEAD
=======
    private bool notClicked = true;
>>>>>>> cd61e18c61a4bebe0a5f4a7f0fbabb9457c7484f

    private void ShowQuestionText()
    {
        showQuestionText = true;
<<<<<<< HEAD
=======
        notClicked = false;
>>>>>>> cd61e18c61a4bebe0a5f4a7f0fbabb9457c7484f
    }

    private void SetText()
    {
        showQuestionText = false;
    }
}
