<h3>Sidebar</h3>


@*ovo ce verovatno morati da se izmeni, zavisi da li su stranice ili komponente, jedna opcija: stranice koje imaju zakacene staticke i posebnu komponentu,
    druga opcija: komponente koje se kace na staticku stranicu, ajde neka su za sada stranice
*@
@*ignore komentar iznad skapirala sam nesto drugo*@
<div class="sidebar">
    <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/mapa">Mapa</a></li>
        <li><a href="/ankete">Ankete</a></li>
        <li><a href="/forum">Forum</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</div>
@code {
    // Component logic and event handlers
}
